<?xml version="1.0"?>
<configuration>
  <configSections>
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
  </configSections>
  <!--
    For a description of web.config changes see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.5" />
      </system.Web>
  -->
  <system.web>
    <sessionState mode="InProc" stateConnectionString="tcpip:127.0.0.1:42424" sqlConnectionString="data source=127.0.0.1;Trusted_Connection=yes" cookieless="false" timeout="15"/>
    <compilation debug="true" targetFramework="4.8">
      <assemblies>
        <add assembly="System.Security, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
        <add assembly="System.Data.Entity.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"/>
      </assemblies>
      <buildProviders>
        <add extension=".edmx" type="System.Data.Entity.Design.AspNet.EntityDesignerBuildProvider"/>
      </buildProviders>
    </compilation>
    <pages controlRenderingCompatibilityVersion="4.0"/>
  </system.web>
  <appSettings>
    <add key="applicationurl" value="http://localhost/"/>
    <add key="stbservice" value="http://10.11.200.98/stbwebservice/"/>
    <add key="sunware" value="http://10.11.200.98/stbmiddleware/"/>
    <add key="appname" value="ccms"/>
    <add key="appid" value="ccms"/>
    <add key="appPassword" value="c9489312af1845c7b75"/>
    <add key="cc_email" value="compliance@suntrustng.com;frauddesk@suntrustng.com;olusola.awopetu@suntrustng.com"/>
    <add key="EquiryByNuban" value="Information/EnquiryByNuban"/>
    <add key="resolver" value="Resolver"/>
  </appSettings>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="BasicHttpBinding_IService1"/>
      </basicHttpBinding>
    </bindings>
    <client/>
  </system.serviceModel>
  <connectionStrings>
    <add name="CCMSEntities" connectionString="metadata=res://*/App_Code.EF.CCMS.csdl|res://*/App_Code.EF.CCMS.ssdl|res://*/App_Code.EF.CCMS.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=10.11.200.106;initial catalog=CCMS;user id=cfa;password=PJ{54k&gt;Ey$9!/c)%ZHbp;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient"/>
    <!--<add name="CCMSEntities" connectionString="metadata=res://*/App_Code.EF.CCMS.csdl|res://*/App_Code.EF.CCMS.ssdl|res://*/App_Code.EF.CCMS.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=10.11.200.96;initial catalog=CCMS;persist security info=True;user id=sa;password=sapassword;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />-->
  </connectionStrings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb"/>
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer"/>
    </providers>
  </entityFramework>
</configuration>